[submodule "esp32-owb"]
	path = components/esp32-owb
	url = git@github.com:DavidAntliff/esp32-owb.git
[submodule "esp32-ds18b20"]
	path = components/esp32-ds18b20
	url = git@github.com:DavidAntliff/esp32-ds18b20.git
[submodule "veclibary"]
	path = components/vec/vec
	url = git@github.com:rxi/vec.git
[submodule "vec_lib"]
	path = components/vec/vec
	url = git@github.com:rxi/vec.git
[submodule "components/bme280/driver"]
	path = components/bme280/driver
	url = git@github.com:BoschSensortec/BME280_driver.git
