menu "Display config"
    config USE_DISPLAY
        bool "use display"
        default n
    if USE_DISPLAY    
        config LV_HOR_RES_MAX
            int "Maximal horizontal resolution to support by the library."
            default 240

        config LV_VER_RES_MAX
            int "Maximal vertical resolution to support by the library."
            default 320 

        config ENCODER_ENABLE 
            bool "Use encoder"
            default y

        if ENCODER_ENABLE
            config ENCODER_GPIO_A
                int "Rotary Encoder A output GPIO number"
                range 0 39
                default 39
            
            config ENCODER_GPIO_B
                int "Rotary Encoder B output GPIO number"
                range 0 39
                default 36
        endif

        config ALARM_ENABLE
            bool "Enable alarm"
            default n
        if ALARM_ENABLE
            config ALARM_OUTPUT_GPIO
                int "Alarm output GPIO number"
                range 0 39
            config ALARM_TRIGGERED_STATE
                int "State of a GPIO when alarm is triggered"
                range 0 1
                default 1
                
        endif

    endif

endmenu
